<!--
@license
Copyright (c) 2015 The Polymer Project Authors. All rights reserved.
This code may only be used under the BSD style license found at http://polymer.github.io/LICENSE.txt
The complete set of authors may be found at http://polymer.github.io/AUTHORS.txt
The complete set of contributors may be found at http://polymer.github.io/CONTRIBUTORS.txt
Code distributed by Google as part of the polymer project is also
subject to an additional IP rights grant found at http://polymer.github.io/PATENTS.txt
-->
<link rel="import" href="../polymer/polymer.html">
<link rel="import" href="../iron-flex-layout/classes/iron-flex-layout.html">
<link rel="import" href="../iron-form/iron-form.html">
<link rel="import" href="../iron-icons/iron-icons.html">
<link rel="import" href="../paper-button/paper-button.html">
<link rel="import" href="../paper-item/paper-item.html">
<link rel="import" href="../paper-styles/paper-styles.html">
<link rel="import" href="../input-date-picker/input-date-picker.html">


<!--
An element providing a solution to no problem in particular.

Example:

    <mini-event></mini-event>

@group Seed Elements
@element mini-event
@demo demo/index.html
@hero hero.svg
-->
<dom-module id="mini-event">

  <template>
    <style>

      :host {
        display: block;
        box-sizing: border-box;
        @apply(--paper-font-common-base)
      }

      h3 {
        @apply(--paper-font-display1);
      }

      paper-material {
        padding: 20px 30px;
      }

      #fileArea {
        margin-right: 28px;
        margin-top: 28px;
        width: 200px;
      }

      #chooseFilesButton {
        margin-bottom: 10px;
        background: var(--paper-grey-100);
      }

      #inputArea {
        padding-bottom: 30px;
      }

      #submitButton {
        background: var(--default-primary-color);
        color: white;
      }

      paper-item {
        --paper-item-min-height: 30px;
      }

      paper-item:not(:last-of-type) {
        border-bottom: 1px solid var(--paper-grey-300);
      }

      .ellipsis {
        word-wrap: break-word;
        text-overflow: ellipsis;
        width: 100%;
      }

    </style>
    
    <paper-material elevation="1">
      <h3>Nouvel événement</h3>
      <form 
        is="iron-form" 
        id="form" 
        class="layout vertical"
        method="[[method]]" 
        action="[[action]]"
        on-iron-form-response="_handleResponse">
        <input hidden name="_token" value="[[token]]">
        <div class="layout horizontal">
          <div id="fileArea" class="layout vertical">
            <paper-button id="chooseFilesButton" on-tap="_chooseFiles">
              <iron-icon icon="file-upload">
              </iron-icon>
              FICHIERS
            </paper-button>
            <input id="fileInput" name="files[]" type="file" files="{{fileList::change}}" multiple hidden>
            <template is="dom-repeat" items="[[_listToArray(fileList)]]">
              <paper-item>
                <span class="ellipsis">[[item.name]]</span>
              </paper-item>
            </template>
          </div>
          <div id="inputArea" class="layout vertical flex">
            <paper-input required name="title" label="Titre"></paper-input>
            <div class="layout horizontal">
              <input-date-picker class="flex" name="start_date" label="Date de début" locale="fr"></input-date-picker>
              <input-date-picker class="flex" name="end_date" label="Date de fin" locale="fr"></input-date-picker>
            </div>
          </div>
        </div>
        <paper-button id="submitButton" class="self-end" on-tap="_submit">ENREGISTRER</paper-button>
      </form>  
    </paper-material>
  </template>

</dom-module>

<script>

  Polymer({

    is: 'mini-event',

    properties: {

      method: {
        type: String,
        value: 'POST'
      },

      action: {
        type: String,
        value: ''
      },

      token: {
        type: String,
        value: ''
      }

    },

    _chooseFiles: function() {
      this.$.fileInput.dispatchEvent(new Event('click'));
    },

    _submit: function() {
      this.$.form.submit();
    },

    _handleResponse: function(e) {
      console.log(e.detail.__data__);
    },

    _listToArray: function(list) {
      var array = [];
      for (i = 0; i < list.length; i++) {
        array.push(list[i]);
      }
      return array;
    }

  });

</script>
